<html>
	<head>
		<title>Login</title>
		<meta http-equiv="content-type" charset="UTF-8">
		<meta name="viewport"
   			content="width=320,
      		height=480,
      		initial-scale=1.0,
      		minimum-scale=1.0,
      		maximum-scale=2.0,
      		user-scalable=yes" />
	</head>
	<body>
		<form action='login' method='POST'>
			<div>
			 <input type='text' name='username' id='username' placeholder='username'/>
			</div>
			<div>
			 <input type='password' name='password' id='password' placeholder='password'/>
			</div>
			<input type='submit' name='submit'/>
		   </form>
	</body>
</html>